<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
        <link rel="icon" href="/img/icon.jpg">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
       {{>header}}
       This site is just a practice application developed by using <b><a href="https://nodejs.org/en/">Nodejs</a></b>.<br>
       Mapbox-api and Darksky-api was used for getting latitude and longitude.
       <img class="portrait" src="/img/node.jpg" >
       </div>
       {{>footer}}
       
    </body>
</html>