<!DOCTYPE html>
<html>
    <head>
        <title>
            Help
        </title>
        <link rel="icon" href="/img/icon2.jpg">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
       <p><b>For any queries please contact admin.</b></p>
       
       </div>

       
       {{>footer}}
    </body>
</html>